
.lottery-query-page {
  .lottery-query__content {
    height: 100%;
    .loading__congtainer {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 400px;
    }
  }
}
