.app-layout {
  height: 100%;
  .app-layout__content {
    margin: 24px 16px;
    padding: 24px;
    background: #fff;
    min-height: 280px;
    overflow: auto;
  }
  .app-layout__header {
    display: flex;
    justify-content: space-between;

    .app-layout__header-weather {
      padding: 0px 20px;
      cursor: pointer;
    }
  }
}
.app-layout .trigger {
  font-size: 18px;
  line-height: 64px;
  padding: 0 24px;
  cursor: pointer;
  transition: color 0.3s;
}

.app-layout .trigger:hover {
  color: #1890ff;
}

.app-layout .logo {
  height: 32px;
  background: rgba(255, 255, 255, 0.2);
  margin: 16px;
  color: #fff;
  line-height: 32px;
  text-align: center
}
